<?xml version="1.0" encoding="UTF-8"?>
<config><!-- 根元素配置文件 -->  
      
    <db-info><!--配置文件的子元素（数据库信息）  -->  
             <!-- 数据库信息子元素（连接数据库类型，名字，用户名，密码） -->  
             <driver-name>Oracle.jdbc.driver.OracleDriver</driver-name>  
             <url>jdbc:oracle:thin:@localhost:1521:ANDY</url>   
             <user-name>drp</user-name>  
             <password>drp</password>  
          
    </db-info>
      
</config>